In [44]:
import requests
import pandas as pd

# https://www.latlong.net/
# Reading, UK
MY_LAT = 51.455040
MY_LONG = -0.969090

# https://openweathermap.org/api
API_KEY = "26ad7e46d479df5032b14c0889514ae8"

# https://openweathermap.org/forecast5
url = "https://api.openweathermap.org/data/2.5/forecast"
payload = {
    "lat": MY_LAT,
    "lon": MY_LONG,
    "appid": API_KEY
}


r = requests.get(url, params=payload)
r.raise_for_status()
weather_data = r.json()

In [45]:
df = pd.json_normalize(weather_data["list"])

# Extract "id", "main", and "description" from the "weather" column
df['weather.id'] = df['weather'].apply(lambda x: x[0]['id'])
df['weather.main'] = df['weather'].apply(lambda x: x[0]['main'])
df['weather.description'] = df['weather'].apply(lambda x: x[0]['description'])
df = df.drop(columns=['weather'])

# df['dt_converted_utc'] = pd.to_datetime(df['dt'], unit='s', utc=True)
# df = df.drop(columns=['dt'])

df.head()

,dt,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,...,main.temp_kf,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod,rain.3h,weather.id,weather.main,weather.description
0,1727200800,10000,0.00,2024-09-24 18:00:00,287.40,286.92,286.21,287.40,1005,1005,...,1.19,75,4.33,264,8.01,n,NaN,803,Clouds,broken clouds
1,1727211600,10000,0.20,2024-09-24 21:00:00,286.54,286.00,284.81,286.54,1005,1005,...,1.73,81,4.38,261,8.13,n,0.12,500,Rain,light rain
2,1727222400,10000,0.00,2024-09-25 00:00:00,285.33,284.56,284.30,285.33,1005,1005,...,1.03,88,3.62,250,7.95,n,NaN,804,Clouds,overcast clouds
3,1727233200,10000,0.00,2024-09-25 03:00:00,284.11,283.45,284.11,284.11,1003,1003,...,0.00,100,3.63,224,7.06,n,NaN,804,Clouds,overcast clouds
4,1727244000,10000,0.42,2024-09-25 06:00:00,283.69,283.18,283.69,283.69,1002,1002,...,0.00,100,1.22,219,2.33,d,0.52,500,Rain,light rain

In [46]:
# https://openweathermap.org/weather-conditions
is_forecast_to_rain = is_forecast_to_rain = df["weather.main"].isin(["Rain", "Thunderstorm", "Drizzle"])
if is_forecast_to_rain.any():
    pass

In [47]:
is_forecast_to_rain

0     False
1      True
2     False
3     False
4      True
5      True
6     False
7      True
8      True
9      True
10     True
11    False
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
Name: weather.main, dtype: bool